@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body,
html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--lighting-color);
}
body {
 font-size: 1.4rem;

}
.header-color {
    color: white;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    
}
ul {
    list-style: none;
}
header {
    background: var(--lighting-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav > ul {
     display: flex;
     gap: 10px;
}
.logo {
    color: white;
    cursor: grab;
}

nav > li {
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3 ease-in-out;
}
nav > li:hover {
    border-bottom: 0.4rem var(--secondary-color) solid;
    transition: 0.3 ease-in-out;
}
.logo {
    font-size: 2rem;
    font-weight: 700;

}

#hero {
    background-color: black;
    padding: 4rem 0;
    padding-left: 30px;
    border-bottom: 4px solid white;
}
#hero .container {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.hero-content {
    display: grid;
    place-items: center ;
}
#hero > h1 {
    font-size: 3rem;
    font-weight: bold;
   
}
.hi-text {
    font-size: 6rem;
    font-weight: bold;
    color: white;
}
.name-text {
  font-size: 5rem;
  color: white;
}
#hero > h2 {
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
}


#img1 {
    border-radius: 100% ;
    max-width: 400px;
    max-height: 300px;
}

#hero h2 {
    font-size: 4rem;
    font-weight: bold;
  
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  /* Project */
  #project {
    background: var(--lighting-color);
  }
  #project > h2 {
    font-size: 6rem;
    text-align: center;
    color: white;
   
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
  }

  .grid-item {
    display: grid;
    place-items: center;
  }

  .card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5 rem;
    overflow: hidden;
    transition: 0.2 ease-in-out;
  }
  .card:hover {
    transform: scale(1.05); 
    transition: 1s ease-in-out ;
  }

  .card:hover img {
    transform: scale(1.05); 
    transition: 1s ease-in-out ;
    opacity: 0.8;
  }
  .card:hover .card-content {
    background: black;
    transform: translateY(0px)
  }
  .card-content {
    padding: 2rem;
    position: relative;
    top: -0.5rem;
    margin-bottom: -0.5rem;
    transition: 0.5s ease-in-out ;
    transform: translateY(100px)
}
.card-content {
    text-align: center;
}

/* contact */
#contact {
    background: black;
    color: dodgerblue;
}
 a {
  color: dodgerblue;
 }
  
  #contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
  }
  
  #contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  
  .top_contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
    
  }
  
  .contact_way i {
    font-size: 3rem;
  }
  .contact_way h3 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .bottom_contact {
    max-width: 400px;
    gap: 1rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  
/* footer */

footer {
    background-color: black;
    padding: 2rem;
    color: grey;
    font-size: 1.6rem;
    text-align: center;
}
/* Media */
@media (max-width: 786px) {
    html {
      font-size: 40%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 70vh;
    }
  }
  @media (max-width: 500px) {
    html {
      font-size: 32%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 50vh;
    }
  }